<div fxLayout="row wrap" fxLayoutAlign="center center" class="projects-wrapper">
<div fxFlex="100" fxFlex.gt-sm="50" class="flex-p">
    <mat-card>
        <mat-card-content>
            <p>Une fois connecter, cliquez juste sur l'icône parametre pour changer la chart graphique par rapport à votre préférence</p>
            <p>les choix ne nous convient faite une mise à jour des couleur et des polices
                en allant à la racine du projet(fichier styles.scss, ligne 13 preciser le theme de preference.</p>
            <p>Parametre personelle selon sa préférence. = > Aller dans src/app/theme/styles/indigo-light.scss</p>
            <img src="assets/img/users/guide.png" class="transition-2" >
            <a mat-button routerLink="/login">Retour sur la page de connexion de l'application</a>
        </mat-card-content>
    </mat-card>
</div>
</div>


